body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: black;
  }
  
  .board {
    display: grid;
    grid-template-columns: repeat(31, 20px);
  }
  
  .cell {
    width: 20px;
    height: 20px;
    border: 1px solid gray;
    box-sizing: border-box;
  }
  
  .food {
    background-color: green;
  }
  
  .snake-head {
    background-color: yellow;
  }